@font-face {
  font-family: forBig;
  src: url("./fonts/FreightBigProBlack-Italic.eot");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: forBig;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: fright;
}
#mani{
  background-color: #000;
}
#loader {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99;
  display: none;
}
#loader h1 {
  font-size: 6.9vw;
  line-height: 6vw;
  font-weight: 100;
  letter-spacing: -3px;
  position: relative;
  z-index: 9;
}
#loader video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 6;
}
#yellow1 {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f5e41b;
  z-index: 7;
}
#yellow2 {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f5e41b;
  z-index: 8;
}
#nav {
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  /* background-color: red; */
  z-index: 10;
}
#nav svg path {
  fill: #000;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #f5e41b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#page1 h1 {
  font-size: 6.9vw;
  line-height: 6vw;
  font-weight: 100;
  letter-spacing: -3px;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#elem{
  /* background-color: red; */
  width: 100%;
  position: relative;
  cursor: pointer;
}
#elem h2{
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  line-height: 5vw;
  z-index: 9;
}
#elem .moving{
  background-color: #F5E41B;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(0, -45%) scaleY(0);
  padding: 8px 0;
  transition: all ease 0.3s;
}

#elem .moving .moving-in{
  display: inline-block;
  white-space: nowrap;
  animation-name: moving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#elem .moving .moving-in h5{
  color: #000;
  display: inline-block;
  transition: all ease 0.3s;
  transition-delay: 0.2s;
  opacity: 0;
  font-size: 19px;
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 500;
}

@keyframes moving {
  from{
    transform: translate(0);
  }  
  to{
      transform: translate(-100%);
  }
}

#elem:hover .moving{
  transform: translate(0, -45%) scaleY(1);
} 
#elem:hover .moving h5{
  opacity: 1;
} 


#page3 {
  height: 100vh;
  width: 100%;
  background-color: white;
}
