@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,900&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754af9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}

*::selection{
    background: var(--main-color);
    color: var(--bg-color);
}
.dark-mode{
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.7);

}
html{
    font-size: 62.5%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 100;
    transition: .5s;

}
/* .navbar{
    display: flex;
    justify-content: flex-end;
} */
.header .sticky{
    background: var(--bg-color);
    box-sizing: 0 .1rem 1rem var(--shadow-color);

}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.navbar a.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
    /* background-color: var(--white-color); */
}

#darkmode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;

}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;

}
.home-content p{
    font-size: 1.6rem;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5 ease;
}
.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .2rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}
.btn:hover{
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;


}
@keyframes professionRotate {
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1){
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4)
{
    padding-bottom: 20px;

}
.home .profession i{
    font-size: 3.8rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border-radius: 50%;
    z-index: -1;
    border: 3px solid var(--main-color);
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;

}
span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 40vw;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}


.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services{
    min-height: auto;
    padding-bottom: 10rem;

}
.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-box:hover{
    box-shadow: 0 .1rem 2 var(--shadow-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3{
    color: var(--main-color);
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

.portfolio{
    min-height: auto;
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;

}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-sizing: 0 0 1rem rgba(0,0,0,0.1);
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;

}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(0,0,0,0.1,var(--main-color)));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;

}

.portfolio-layer a i{
    font-size: 2rem;
    color: #333;
}

.tastimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);

}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;

}

.testimonial-slide p{
    text-align: center;
    font-size: 1.4rem;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev
{
    color: var(--main-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}

.testimonial-box .swiper-pegination-bullet{
    background: rgba(0,0,0,0.8);
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact h2{
    margin-bottom: 3rem;
}

.input-box input, textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);

}

.input-box input{
    width: 49%;

}
textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;

}

.footter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);

}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);

}

.footer-icoTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-icoTop a:hover{
    outline-color: var(--white-color);

}

.footer-icoTop i{
    font-size: 2.4rem;
    color: #333;
}

/* Break point */

@media(max-width:1200px){
    html{
        font-size: 55%;
    }

    .home .profession-container .profession-box{
        right: -10%;
    }
    .home .profession-container .overlay{
        right: -6%;
    }
    .home-img img{
        right: 0;
    }
}

@media(max-width:1100px){
    .home .profession-container .profession-box{
        right: -15%;
    }
    .home-img img{
        max-width: 420px;
    }
}

@media(max-width:1024px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
    .home .profession-container .profession-box{
        right: -20%;
    }

    .home .profession-container .overlay{
        right: -12%;

    }
    .home-img img{
        max-width: 400px;
    }
}

@media(max-width:991px){
    .navbar a:nth-child(1){
        color: var(--main-color);
    }
    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content{
        max-width: 50rem;
    }
    .home .profession-container .profession-box{
        right: -35%;
    }
    .home .profession-container .overlay{
        right: -38%;
    }
    .home-img img{
        display: none;
    }


}

@media(max-width:896px){
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .home .profession-container .profession-box{
        right: -50%;
    }
}
