*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
html, body{
    height: 100%;
    width: 100%;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px ;
    position: relative;
}


#menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    padding: 20px;
}
#menu li{
    padding-left: 60px;
    
}


#menu .bar{
    position: fixed;
}

#hero {
    height: 100%;
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#hero-section video{
    height: 90px;
    width: 200px;
    border-radius: 50%;
}
#hero-section .video{
    display: flex;
    border: none;
}
#hero-section p {
    font-size: 100px;
}
#page3{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#page3 video{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
#page4{
    height: 100%;
    width: 100%;

}
#page4-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}
#page4-left video{
    height: 400px;
}
#page4-right p{
    font-size: 40px;
}
#page4-right button{
    padding: 60px 100px;
    margin-top: 20px;
    border: 1px solid black;
    background: none;
    font-size: 30px;
    color: gray;
    border-radius: 80px;
    position: relative;
}
