@font-face {
    font-family: 'plain light';
    src: url('./plain-light-webfont.ttf');
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain light"; 
    color: #fff;
}

#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: white; */
    position: fixed;
    z-index: 99;
    border: 2px solid #ffffffd1;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loadder{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'Silk Serif';
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.line h4{
    margin-top: 5px;
}

@keyframes anime {
    0%{
        font-family: "plane light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plane light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: #003;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 700;
}

.hero{
    /* background-color: red;  */
    width: 72%;
    margin-left: 27%;
}
 
.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 600;
}