@font-face {
    font-family: nb;
    src: url(./Nb.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejo.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    
}
#cursor2{
    height: 7.5vw;
    width: 7.5vw;
    background-color: black;
    color: white;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    
}

#curson h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#curson2 h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3vw 3vw;
}

nav h3{
    font-size: 1.4vw;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content h1{
   font-size: 27vw;
   line-height: 20vw;
   font-family: rejoy;
   font-weight: 500;
}
#page1-content h1 span{
   font-family: rejoy;
   display: inline-block;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding-top: 10vh;
}

#page2-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10vh; */
    color: black;
    font-size: 25px;
    padding: 10px;
}
#page2-main-content{
    padding: 10vh; 
    font-size: 50px;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top{
    /* background: red; */
    text-align: center;
}

#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
#page3-top h4 span{
    font-size: 0.7vw;
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
}

#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vw;
    /* background-color: red; */

}
#page3-elements .box{
    height: 100%;
    width: 32.5%;
    /* background-color: blue; */
    position: relative;
}

#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
    
}

#page3-elements .box:hover img{
    opacity: 0;
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#page4 video{
    height: 100%;
}

#page4 svg{
    position: absolute;
    height: 60%;
}
#page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}

#page5 h1{
    font-size: 10vw;
    font-family: rejoy;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}
#swiper{
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -2%;
}

.swiper {
    width: 130%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .swiper-slide img {
    /* display: block; */
    width: 19%;

    object-fit: cover;
  }

  #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
  }
  #loader h3{
    font-size: 2vw;
    font-weight: 2vw;
  }
 